.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 0 1rem;
}

.socialicon {
  display: flex;
  gap: 5rem;
  justify-content: center;
  width: 100%;
}

.socialicon img {
  width: 32px;
}

.footer p {
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 2rem;
}
a {
  color: black;
}
